.calendar{
    display: table;
    position: absolute;
    opacity: 0;
    left:-99999px;
}
.calendar2{
    display: table;
    position: absolute;
    opacity: 0;
    left:-99999px;
}

.check:focus .calendar{
    opacity: 1;
    left:98px;   
}

.eviction:focus .calendar2{
    opacity: 1;
    left:408px;   
}

.hat{
	background-color: #1e1f26;
    width: 301px;
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: -0.36px;
    text-align: center;
    color: #ffffff;
    margin: 7px 0 0 0;
}

.week{
	background-color: #1e1f26;
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.1;
    letter-spacing: -0.24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.days{
	width: 301px;
    background-color: white;
}

.numeral{
	text-align: center;
	border: 1px solid #adadad;
    box-sizing:border-box;
    cursor: pointer;
}
.numeralOff{
    text-align: center;
    border: 1px solid #adadad;
    box-sizing:border-box;
}

.numeral:hover{
    background: #db0536;
    color: #fefefe;
}

.hat::before{
    display: inline-block;
    content: '';
    background-image: url(images/arrow1.svg);
    width: 11px;
    height: 17px;
    position: absolute;
    left: 12px;
    top: 7%;
    cursor: pointer;
}

.hat::after{
    display: inline-block;
    content: '';
    background-image: url(images/arrow-copy2.svg);
    width: 11px;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 7%;
    cursor: pointer;
}

.linkCalendar{
	text-decoration: none;
    font-family: ProximaNova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: -1.32px;
    text-align: center;
    color: #2e2e2e;
}

.numeral:hover .linkCalendar{
    color: #fefefe;
}

.linkCalendarOff{
	text-decoration: none;
	font-family: ProximaNova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: -0.32px;
    text-align: center;
    color: #adadad;
    cursor: default;
}

table{
    border-collapse: collapse;
}