@font-face{
	src:url(Proxima Nova/Proxima Nova Bold.otf);
	font-family: 'Proxima Nova';
	font-weight: 700;
}

@font-face{
	src:url(Proxima Nova/Proxima Nova Light.otf);
	font-family: 'Proxima Nova';
	font-weight: 300;
}

@font-face{
	src:url(Proxima Nova/Proxima Nova Regular.otf);
	font-family: 'Proxima Nova';
	font-weight: 400;
}

.container{
	background-image: url(images/background.jpg);
	background-color: rgba(0,0,0,.7);
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1800px;
	font-family: 'Proxima Nova' , sans-serif;
	color: #ffffff;
	margin: 0 auto;
	z-index: 1;
}

.container::before{
	content: '';
	background-image: linear-gradient(to top, #35363c, #35363c), linear-gradient(to bottom, #35363c, #35363c);
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: 2;
}

.header{
	max-width: 1148px;
	margin: 0 auto;
}

.logo{
	display: flex;
    padding: 54px 0 0 0;
    z-index: 3;
    position: relative;
}

.logoiImg{
	width: 69px;
    height: 54px;
    margin-left: 0%;
    margin: 0px 0px 0 0px;
    padding: 0 0px 0 0px;
}

.title{
	font-size: 27px;
    text-transform: uppercase;
    margin: -3px 0px 0 0px;
    letter-spacing: 0.5px;
}

.text{
	margin: 0px 0 0 29px;
}

.JCB{
	font-size: 16px;
    margin: 6px 0 0 0px;
    letter-spacing: -0.1px;
    font-weight: 400;
    padding: 0 0 0 0;
}

.main{
	max-width: 1148px;
	margin: 115px auto auto;
	background-color: #ffffff;
	z-index: 4;
	position: relative;
	border-radius: 5px;
}

.input1{
	font-size: 16px;
	line-height: 1.98;
	color: #1e1f26;
	border: none;
	outline: none;
	width: 940px;
    margin: 59px auto 0px 97px;
    display: inline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 0 0 0 12px;
    letter-spacing: -0.1px;
}

.svg{
	margin: 0px 0px -13px -27px;
	cursor: pointer;
}

.label{
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	display: flex;
}
.label1{
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	display: flex;
}

.date{
	margin: 46px 0 0 97px;
	display: flex;
}

.check{
	display: block;
}

.checkbox{
	width: 23px;
    height: 23px;
    border: solid 1px #35363c;
    background-color: rgba(0, 0, 0, 0.24);
}

.buttonText{
    font-size: 18px;
    line-height: 1.76;
    color: #db0536;
    outline: none;
    padding: 10px 48px 8px 15px;
    font-weight: 600;
    margin: 3px 0px 0 1px;
    border: 1px solid #35363c;
    border-radius: 3px;
    width: 301px;
    box-sizing: border-box;
}

.buttonText1{
	font-size: 18px;
    line-height: 1.76;
    color: #db0536;
    outline: none;
    padding: 15px 48px 12px 15px;
    font-weight: 600;
    margin: 3px 0px 0 1px;
    border: 1px solid #35363c;
    border-radius: 3px;
    width: 105px;
    box-sizing: border-box;
}

.buttonText1::after{
	content: '\2304';
	height: 9px;
	width: 14px;
	display: inline-block;
	color: #35363c;
}

.button{
	background-color: rgba(0, 0, 0, 0.24);
}

.eviction{
	margin: 0 0 0 7px;
}

.arrow{
	margin: 0px 0 0 42px;
	display: flex;
}

.arrow1{
	margin: 0px 0 0 0px;
}
.arrow2{
	margin: 0px 0 0 8px;
}

.svgFly{
	width: 19px;
    height: 18px;
    margin: 4px 0px -6px 9px;
}

.flight{
	font-size: 16px;
	line-height: 1.76;
	color: #35363c;
	font-weight: 400;
	margin: 0 0 0 20px;
}

.fly{
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 41px 0 0 -19px;
    position: relative;
}

.buttonSearch{
	font-size: 18px;
    color: #ffffff;
    border-radius: 30.5px;
    background-color: #db0536;
    padding: 19px 56px 21px 73px;
    display: flex;
    justify-content: center;
    margin: 36px auto;
    outline: none;
    letter-spacing: 0.9px;
}

.buttonSearch:hover{
	cursor: pointer;
	background: #ac0027;
	transition: 2s;
}

.total{
	display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 2.26;
    color: #1e1f26;
    font-weight: 400;
    margin: -5px 0px 0 0;
    padding: 0 0 29px 0;
}

.total1{
	margin: 0 15px 0 0;
}

.night{
	margin: 1px 3px 0 0;
}

.adults{
	margin: 0 3px 0 0;
}

.svg1{
	width: 14px;
    height: 14px;
    padding: 10px 0px 0 0;
    margin: 0 11px 0 0;
	}

.svg2{
	width: 10px;
    height: 24px;
    padding: 3px 0 0 0;
    margin: 0 11px 0 0;
}

.svg3{
	width: 9px;
    height: 17px;
    padding: 8px 0 0 0;
}

.children{
	margin: 1px 2px 0 0;
}

.option{
	background: #35363c;
}

.buttonSearch:hover{
	cursor: pointer;
	background: #1e1f26;
	transition: 2s;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 26px;
    line-height: 19px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 21px;
    height: 21px;
    border: 1px solid #35363c;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 11px;
    height: 11px;
    background-image: url(images/square.svg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
.nameInputPerson {
	font-family: ProximaNova;
	font-size: 14px;
	line-height: 2.26;
	color: #1e1f26;
	width: 105px;
	margin-right: 10px;
}
.nameInputPerson_adult {
	margin-left: 42px;
}

.select {
	display:flex;
	flex-direction: column;
	position:relative;
	width:105px;
	height:50px;
	margin-top: 5px;
	font-family: ProximaNova;
	font-size: 18px;
	font-weight: 700;
	margin: 3px 0 0 0;
}
.number {
	color: #ffffff;	
	padding-left: 15px;
	min-height:50px;
	border-radius: 3px;
	display:flex;
	align-items:center;
	background:  #1e1f26;
	border: solid 1px #35363c;
	position:absolute;
	top:0;
	width: 100%;
	pointer-events:none;
	order:2;
	z-index:1;
	transition:background .4s ease-in-out;
	box-sizing:border-box;
	overflow:hidden;
	white-space:nowrap;  
}
.number:hover {
	background: #2d2e37;
}
.select:focus .number {
	position:relative;
	pointer-events:all;
}
.select__number {
	opacity:0;
	position:absolute;
	left:-99999px;
}
.select__number:checked + .number {
	order: 1;
	z-index:2;
	background: #ffffff;
	position:relative;
	color: #db0536;
}
.select__number:checked + .number:after {
	content:'';
	width: 17px;
	height: 17px;
	background-image: url("images/arrow.svg");
	background-repeat: no-repeat;
	position: relative;
	pointer-events:none;
	left: 48px;
	z-index:3;
	background-size: contain;
}
